---
---

@import "{{ site.theme }}";
#links_banner {
  padding: 5px 5px 5px 5px;
  font-weight: 700;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
#forkme_banner {
    display: block;
    position: absolute;
    top:235px;
    bottom:-40px;
    right: 10px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
.inner {
  position: relative;
  max-width: 840px;
  padding: 20px 10px;
  margin: 0 auto;
}
p.banner {
  float: right;
  position: relative;
  margin: 0 auto;
  max-width: 840px;
  padding: 0px;
  margin: 0px 0 0px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}
span.inner {
  float: right;
  position: relative;
  margin: 0 auto;
  max-width: 840px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}
#left-column
{
    float: left;
    width: 45px;
    margin: 0;
    padding: 0;
}

#right-column
{
    float: right;
    width: 45px;
    margin: 0;
    padding: 0;
}

#center
{
    background:white;
    margin: 0 9 0 9;
    border-left:   2px solid #bbbbbb;
    border-right:   2px solid #bbbbbb;

}


#banner
{
    width:100%;
    height: 100px;
    margin:0 0 0 0;
    padding:36 0 0 0;
    background-repeat:repeat-x;
    font: 25pt Courier, "Courier New", monospace; 
    color:white;
}


#container
{
    width:92%;
    margin:-36 4% 0 4%;
    padding:35 0 0 0;
    background:#ffffff;
}




div.figure {
    float: right;
    margin: 10px;
    padding: 10px;
}

div.figure p {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

// main>aside, main>ul.table-of-contents {
//   padding: 0 0 4em 0;
// }
// @media screen and (min-width: 1050px) {
//   main>aside, main>ul.table-of-contents {
//     display: inline-block;
//     padding: 4.5em 2em 4em 0;   
//     max-width: 25%; 
//     vertical-align: top;
//   }
// }

// main>aside ul, main>ul.table-of-contents ul {
//   list-style: none;
//   padding: 0.5rem;
// }

// ul.table-of-contents {
//   font-size: 1.125em;
//   list-style-type: none;
// }
// ul.table-of-contents li {
//   padding: 0.25rem 0;
// }

// ul.table-of-contents li li li {
//   font-size: 1rem;
// }